@import "tailwindcss";
@import "@nuxt/ui";

/* FML Nanditha - for "Malabar" text */
@font-face {
  font-family: 'Nanditha';
  src: url('/FML-Nanditha/FML-Nanditha.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nanditha';
  src: url('/FML-Nanditha/FML-Nanditha-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* FML Leela - for tagline */
@font-face {
  font-family: 'Leela';
  src: url('/FML-Leela/FMLLL0NTT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Leela';
  src: url('/FML-Leela/FMLLL0BTT.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Leela';
  src: url('/FML-Leela/FMLLL0ITT.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-malayalam: 'Malayalam', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}
